.container{
    background-size: cover;
}

footer {
    background-color: #C9DC93;
    padding: 20px 0;
    position: center;
    bottom: 0;
    width: 100%;
}

.LOGO {
    width: 60px;
    height: 60px;
}