.container{
    background-size: cover;
   
}
.col-md{
    padding: left 100px;
}
.row{
    padding-top: 80px;
}

footer {
    background-color: #C9DC93;
    padding-top: 100px;
    padding-bottom: 50px;
    position: center;
    bottom: 0;
    width: 100%;
}

.LOGO {
    width: 60px;
    height: 60px;
}
p {
    font-size: 16px;
    line-height: 3;
}

.img-fluid {
    margin: 0;
    padding: 0;
}

.carousel-item img {
    border-radius: 80px; 
}